In [1]:

import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('Bengaluru_House_Data.csv')
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
data.shape

(13320, 9)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************

In [6]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [9]:
data['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [10]:
data['location']=data['location'].fillna('Sarjapur Road')
data['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [11]:
data['size']=data['size'].fillna('2 BHK')
data['bath']=data['bath'].fillna(data['bath'].median())

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [13]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)
data[data.bhk >20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [14]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [15]:
def convertRange(x):
    temp=x.split('-')
    if len(temp) == 2:
        return ((float(temp[0]) + float(temp[1]))/2)
    try:
        return float(x)
    except:
        return None

In [16]:
data['total_sqft'] = data['total_sqft'].apply(convertRange)

In [17]:
data.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [18]:
data['price_per_sqft'] = data['price']*100000/data['total_sqft']
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [19]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [20]:
data['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: count, Length: 1306, dtype: int64

In [21]:
data['location']=data['location'].apply(lambda x: x.strip())
location_count = data['location'].value_counts()

In [22]:
location_count

location
Whitefield                            541
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        273
Thanisandra                           237
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: count, Length: 1295, dtype: int64

In [23]:
location_count_less_10 = location_count[location_count<=10]
location_count_less_10

location
BTM 1st Stage                         10
Nagadevanahalli                       10
Basapura                              10
Sector 1 HSR Layout                   10
Dairy Circle                          10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: count, Length: 1054, dtype: int64

In [24]:
data['location']=data['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [25]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [26]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [27]:
data = data[((data['total_sqft']/data['bhk'] >= 300))]
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [28]:
data.shape

(12530, 7)

In [29]:
data.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [30]:
def remove_outliers_sqft(df):
    df_output =pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m=np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        gen_df = subdf[(subdf.price_per_sqft > (m -st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output,gen_df],ignore_index = True)
    return df_output
data=remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10301.000000  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608      2.471702     91.286372      2.574896     5659.062876
std      880.694214      0.979449     86.342786      0.897649     2265.774749
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.897959
50%     1286.000000      2.000000     67.000000      2.000000     5175.600739
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [31]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_stats['bhk'] ={
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        print(location,bhk_stats)
        for bhk,bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis = 'index')

In [32]:
data = bhk_outlier_remover(data)

1st Block Jayanagar {'bhk': {'mean': 15018.711280365416, 'std': 1.2278182423353805, 'count': 3}}
1st Phase JP Nagar {'bhk': {'mean': 5666.666666666667, 'std': 0.0, 'count': 1}}
2nd Phase Judicial Layout {'bhk': {'mean': 3620.93991671624, 'std': 241.87983343248052, 'count': 5}}
2nd Stage Nagarbhavi {'bhk': {'mean': 16891.666666666668, 'std': 1858.333333333333, 'count': 2}}
5th Block Hbr Layout {'bhk': {'mean': 5882.35294117647, 'std': 0.0, 'count': 1}}
5th Phase JP Nagar {'bhk': {'mean': 4325.0, 'std': 75.0, 'count': 2}}
6th Phase JP Nagar {'bhk': {'mean': 7704.160246533128, 'std': 0.0, 'count': 1}}
7th Phase JP Nagar {'bhk': {'mean': 6028.22068063778, 'std': 1482.7661351832348, 'count': 2}}
8th Phase JP Nagar {'bhk': {'mean': 4335.260115606937, 'std': 0.0, 'count': 1}}
9th Phase JP Nagar {'bhk': {'mean': 5336.8421052631575, 'std': 800.5999597024291, 'count': 3}}
AECS Layout {'bhk': {'mean': 4500.0, 'std': 0.0, 'count': 1}}
Abbigere {'bhk': {'mean': 5000.0, 'std': 0.0, 'count': 1}}
Akshaya Nagar {'bhk': {'mean': 5294.361032273932, 'std': 513.4396107693667, 'count': 30}}
Ambalipura {'bhk': {'mean': 5503.386809269163, 'std': 339.75044563279835, 'count': 2}}
Ambedkar Nagar {'bhk': {'mean': 7684.086312870249, 'std': 531.2111375546801, 'count': 2}}
Amruthahalli {'bhk': {'mean': 5574.846418310635, 'std': 1077.4444900329127, 'count': 7}}
Anandapura {'bhk': {'mean': 5145.797598627787, 'std': 0.0, 'count': 1}}
Ananth Nagar {'bhk': {'mean': 3239.9055148973916, 'std': 333.6052126335633, 'count': 3}}
Anekal {'bhk': {'mean': 3000.0, 'std': 0.0, 'count': 1}}
Anjanapura {'bhk': {'mean': 3852.102102102102, 'std': 796.5465465465463, 'count': 2}}
Ardendale {'bhk': {'mean': 6445.687085352693, 'std': 663.0498079730814, 'count': 7}}
Arekere {'bhk': {'mean': 5239.852398523985, 'std': 0.0, 'count': 1}}
Attibele {'bhk': {'mean': 3840.959409594096, 'std': 540.9594095940961, 'count': 2}}
BEML Layout {'bhk': {'mean': 9375.0, 'std': 0.0, 'count': 1}}
BTM 2nd Stage {'bhk': {'mean': 13913.04347826087, 'std': 0.0, 'count': 1}}
BTM Layout {'bhk': {'mean': 5000.0, 'std': 0.0, 'count': 1}}
Babusapalaya {'bhk': {'mean': 3669.941030877054, 'std': 601.932707346431, 'count': 10}}
Badavala Nagar {'bhk': {'mean': 6279.828480978357, 'std': 42.27887875035828, 'count': 7}}
Balagere {'bhk': {'mean': 6191.495143186286, 'std': 543.3822583816924, 'count': 28}}
Banashankari {'bhk': {'mean': 3800.0, 'std': 0.0, 'count': 1}}
Banashankari Stage II {'bhk': {'mean': 18214.285714285714, 'std': 3035.7142857142853, 'count': 2}}
Banashankari Stage III {'bhk': {'mean': 5000.0, 'std': 0.0, 'count': 1}}
Banashankari Stage V {'bhk': {'mean': 3581.57134026118, 'std': 544.8260330690271, 'count': 9}}
Banashankari Stage VI {'bhk': {'mean': 5041.801948051948, 'std': 2237.063491984229, 'count': 4}}
Banaswadi {'bhk': {'mean': 7356.8050446663165, 'std': 0.0, 'count': 1}}
Banjara Layout {'bhk': {'mean': 5600.0, 'std': 0.0, 'count': 1}}
Bannerghatta {'bhk': {'mean': 8398.03739052883, 'std': 97.90458840399697, 'count': 2}}
Bannerghatta Road {'bhk': {'mean': 8108.108108108108, 'std': 0.0, 'count': 1}}
Basavangudi {'bhk': {'mean': 10095.80105992662, 'std': 95.80105992662084, 'count': 2}}
Basaveshwara Nagar {'bhk': {'mean': 11069.444444444445, 'std': 1847.2222222222217, 'count': 2}}
Battarahalli {'bhk': {'mean': 5015.40017552159, 'std': 337.7428143761158, 'count': 8}}
Begur {'bhk': {'mean': 3906.25, 'std': 0.0, 'count': 1}}
Begur Road {'bhk': {'mean': 4787.9894501927365, 'std': 0.0, 'count': 1}}
Bellandur {'bhk': {'mean': 6759.122130530177, 'std': 845.9579630611066, 'count': 4}}
Benson Town {'bhk': {'mean': 14856.497304850036, 'std': 282.5062734599014, 'count': 2}}
Bharathi Nagar {'bhk': {'mean': 4200.120192307692, 'std': 0.0, 'count': 1}}
Bhoganhalli {'bhk': {'mean': 5777.756745789307, 'std': 871.3161320532748, 'count': 11}}
Billekahalli {'bhk': {'mean': 6179.829109009818, 'std': 1029.8742088847782, 'count': 6}}
Binny Pete {'bhk': {'mean': 8382.135462880804, 'std': 1141.674060928719, 'count': 2}}
Bisuvanahalli {'bhk': {'mean': 4006.5825354643744, 'std': 468.0230389083769, 'count': 31}}
Bommanahalli {'bhk': {'mean': 4666.666666666667, 'std': 0.0, 'count': 1}}
Bommasandra {'bhk': {'mean': 3815.8530659565145, 'std': 403.8116627539011, 'count': 11}}
Bommasandra Industrial Area {'bhk': {'mean': 2863.160206574431, 'std': 59.9654742104211, 'count': 7}}
Bommenahalli {'bhk': {'mean': 8564.836466843257, 'std': 717.6221010374835, 'count': 6}}
Brookefield {'bhk': {'mean': 8974.358974358975, 'std': 0.0, 'count': 1}}
Budigere {'bhk': {'mean': 4995.782145950289, 'std': 304.7321376982579, 'count': 22}}
CV Raman Nagar {'bhk': {'mean': 5069.1182815641005, 'std': 895.7302193450797, 'count': 8}}
Chamrajpet {'bhk': {'mean': 10827.574839290468, 'std': 1880.2064182378372, 'count': 2}}
Chandapura {'bhk': {'mean': 3498.942358540455, 'std': 0.0, 'count': 1}}
Channasandra {'bhk': {'mean': 4285.714285714285, 'std': 0.0, 'count': 1}}
Chikka Tirupathi {'bhk': {'mean': 4568.837506464278, 'std': 449.90860011916783, 'count': 7}}
Chikkabanavar {'bhk': {'mean': 2750.0, 'std': 0.0, 'count': 1}}
Chikkalasandra {'bhk': {'mean': 4209.541795721919, 'std': 468.54274526277595, 'count': 14}}
Choodasandra {'bhk': {'mean': 8645.533141210375, 'std': 0.0, 'count': 1}}
Cooke Town {'bhk': {'mean': 11016.71535215839, 'std': 375.6897111327489, 'count': 2}}
Cox Town {'bhk': {'mean': 7780.757079649942, 'std': 1186.6163940265649, 'count': 4}}
Cunningham Road {'bhk': {'mean': 22399.47110781565, 'std': 2068.0898222124456, 'count': 3}}
Dasanapura {'bhk': {'mean': 5032.659409020218, 'std': 255.05443234836684, 'count': 2}}
Dasarahalli {'bhk': {'mean': 5324.248120300752, 'std': 390.03759398496277, 'count': 2}}
Devanahalli {'bhk': {'mean': 4166.666666666667, 'std': 0.0, 'count': 1}}
Devarachikkanahalli {'bhk': {'mean': 4404.02899440667, 'std': 596.4161034790261, 'count': 5}}
Dodda Nekkundi {'bhk': {'mean': 5934.221068512782, 'std': 1020.763160342317, 'count': 7}}
Doddaballapur {'bhk': {'mean': 7306.716419287801, 'std': 1508.6011290881638, 'count': 4}}
Doddakallasandra {'bhk': {'mean': 3999.4695049973843, 'std': 0.3068175498332698, 'count': 4}}
Doddathoguru {'bhk': {'mean': 3920.463690699665, 'std': 643.1324346449559, 'count': 7}}
Domlur {'bhk': {'mean': 8601.445470741792, 'std': 2229.698831405483, 'count': 14}}
Dommasandra {'bhk': {'mean': 2518.5185185185187, 'std': 0.0, 'count': 1}}
EPIP Zone {'bhk': {'mean': 6621.198451923327, 'std': 53.43624500234158, 'count': 3}}
Electronic City {'bhk': {'mean': 5201.660222644956, 'std': 931.5912756321039, 'count': 5}}
Electronic City Phase II {'bhk': {'mean': 4680.190258840645, 'std': 272.972080657902, 'count': 5}}
Electronics City Phase 1 {'bhk': {'mean': 4851.575882244288, 'std': 533.2869033255906, 'count': 20}}
Frazer Town {'bhk': {'mean': 9580.08324073647, 'std': 1086.7606066839614, 'count': 6}}
GM Palaya {'bhk': {'mean': 4628.867942650349, 'std': 354.0596141419346, 'count': 6}}
Garudachar Palya {'bhk': {'mean': 4580.959776242796, 'std': 23.67431495380781, 'count': 6}}
Giri Nagar {'bhk': {'mean': 14583.333333333334, 'std': 2083.333333333334, 'count': 2}}
Gollarapalya Hosahalli {'bhk': {'mean': 4514.435695538058, 'std': 0.0, 'count': 1}}
Gottigere {'bhk': {'mean': 4433.333333333333, 'std': 286.74417556808754, 'count': 3}}
Green Glen Layout {'bhk': {'mean': 6835.898556082042, 'std': 333.3960060843011, 'count': 4}}
Gubbalala {'bhk': {'mean': 5486.381322957199, 'std': 0.0, 'count': 1}}
Gunjur {'bhk': {'mean': 4750.0, 'std': 0.0, 'count': 1}}
HAL 2nd Stage {'bhk': {'mean': 24509.803921568626, 'std': 0.0, 'count': 1}}
HBR Layout {'bhk': {'mean': 9791.666666666668, 'std': 208.33333333333303, 'count': 2}}
HRBR Layout {'bhk': {'mean': 4736.8421052631575, 'std': 0.0, 'count': 1}}
HSR Layout {'bhk': {'mean': 5833.333333333333, 'std': 0.0, 'count': 1}}
Haralur Road {'bhk': {'mean': 5788.002846826376, 'std': 573.618955205933, 'count': 6}}
Harlur {'bhk': {'mean': 6806.220763959648, 'std': 749.5046631700119, 'count': 6}}
Hebbal {'bhk': {'mean': 8020.904932434182, 'std': 883.2866989126516, 'count': 24}}
Hebbal Kempapura {'bhk': {'mean': 8320.802005012532, 'std': 373.56532189325577, 'count': 3}}
Hegde Nagar {'bhk': {'mean': 7000.0, 'std': 0.0, 'count': 1}}
Hennur {'bhk': {'mean': 5000.0, 'std': 0.0, 'count': 1}}
Hennur Road {'bhk': {'mean': 5000.0, 'std': 0.0, 'count': 1}}
Hoodi {'bhk': {'mean': 6666.666666666667, 'std': 0.0, 'count': 1}}
Horamavu Agara {'bhk': {'mean': 3333.3333333333335, 'std': 0.0, 'count': 1}}
Horamavu Banaswadi {'bhk': {'mean': 5263.1578947368425, 'std': 0.0, 'count': 1}}
Hormavu {'bhk': {'mean': 5039.439088518843, 'std': 0.0, 'count': 1}}
Hosa Road {'bhk': {'mean': 3750.0, 'std': 0.0, 'count': 1}}
Hosakerehalli {'bhk': {'mean': 10041.666666666666, 'std': 375.0, 'count': 2}}
Hoskote {'bhk': {'mean': 3600.5359456638253, 'std': 751.6624895989767, 'count': 8}}
Hosur Road {'bhk': {'mean': 6136.363636363636, 'std': 1136.3636363636365, 'count': 2}}
Hulimavu {'bhk': {'mean': 6608.14606741573, 'std': 1435.7649478084438, 'count': 4}}
ISRO Layout {'bhk': {'mean': 5681.818181818182, 'std': 0.0, 'count': 1}}
ITPL {'bhk': {'mean': 5293.33921482135, 'std': 0.0, 'count': 1}}
Iblur Village {'bhk': {'mean': 7753.573598412542, 'std': 47.31793204808173, 'count': 2}}
Indira Nagar {'bhk': {'mean': 18461.53846153846, 'std': 0.0, 'count': 1}}
JP Nagar {'bhk': {'mean': 5925.925925925926, 'std': 0.0, 'count': 1}}
Jakkur {'bhk': {'mean': 7290.394789156389, 'std': 914.7687249133417, 'count': 5}}
Jalahalli {'bhk': {'mean': 7500.0, 'std': 0.0, 'count': 1}}
Jalahalli East {'bhk': {'mean': 4804.029304029304, 'std': 42.12454212454213, 'count': 2}}
Jigani {'bhk': {'mean': 5251.539444638085, 'std': 0.0, 'count': 1}}
Judicial Layout {'bhk': {'mean': 12962.962962962964, 'std': 0.0, 'count': 1}}
KR Puram {'bhk': {'mean': 4347.826086956522, 'std': 0.0, 'count': 1}}
Kadubeesanahalli {'bhk': {'mean': 5422.047214586422, 'std': 1213.899445999799, 'count': 5}}
Kadugodi {'bhk': {'mean': 5033.333333333334, 'std': 566.6666666666665, 'count': 2}}
Kaggadasapura {'bhk': {'mean': 4390.180878552972, 'std': 194.09107967146167, 'count': 3}}
Kaggalipura {'bhk': {'mean': 5067.840459935322, 'std': 267.71813441909836, 'count': 5}}
Kaikondrahalli {'bhk': {'mean': 6654.835847382431, 'std': 0.0, 'count': 1}}
Kalena Agrahara {'bhk': {'mean': 5540.391844954946, 'std': 782.6421967834364, 'count': 8}}
Kalyan nagar {'bhk': {'mean': 7043.982789343301, 'std': 850.7540527619626, 'count': 2}}
Kambipura {'bhk': {'mean': 4613.88537985688, 'std': 442.39294983399617, 'count': 7}}
Kammanahalli {'bhk': {'mean': 6962.25766229163, 'std': 2041.3437782846004, 'count': 2}}
Kammasandra {'bhk': {'mean': 3237.2655812105695, 'std': 861.3497493389445, 'count': 7}}
Kanakapura {'bhk': {'mean': 5633.802816901409, 'std': 0.0, 'count': 1}}
Kanakpura Road {'bhk': {'mean': 5754.468754468755, 'std': 642.9894850839651, 'count': 3}}
Kannamangala {'bhk': {'mean': 5885.74639875218, 'std': 555.9126968865866, 'count': 3}}
Karuna Nagar {'bhk': {'mean': 7548.041260232853, 'std': 960.2983417649926, 'count': 6}}
Kasavanhalli {'bhk': {'mean': 7188.150786398397, 'std': 888.4937505820675, 'count': 6}}
Kasturi Nagar {'bhk': {'mean': 6387.757738248516, 'std': 205.06926597089296, 'count': 2}}
Kathriguppe {'bhk': {'mean': 5791.147903867095, 'std': 283.97304755177413, 'count': 18}}
Kaval Byrasandra {'bhk': {'mean': 5264.778325123152, 'std': 92.36453201970426, 'count': 2}}
Kenchenahalli {'bhk': {'mean': 5460.627817637033, 'std': 264.58222613843435, 'count': 3}}
Kengeri {'bhk': {'mean': 4333.333333333333, 'std': 0.0, 'count': 1}}
Kengeri Satellite Town {'bhk': {'mean': 4294.409672655811, 'std': 599.879656057118, 'count': 3}}
Kereguddadahalli {'bhk': {'mean': 3203.254608294931, 'std': 173.2774907327058, 'count': 5}}
Kodichikkanahalli {'bhk': {'mean': 4753.086419753086, 'std': 174.5942669596414, 'count': 3}}
Kodigehaali {'bhk': {'mean': 5932.628698743195, 'std': 1418.7220163805841, 'count': 4}}
Kodigehalli {'bhk': {'mean': 10620.87912087912, 'std': 2379.120879120879, 'count': 2}}
Kodihalli {'bhk': {'mean': 10893.922389045523, 'std': 716.3686036821398, 'count': 3}}
Kogilu {'bhk': {'mean': 3460.912052117264, 'std': 0.0, 'count': 1}}
Konanakunte {'bhk': {'mean': 10420.226018864567, 'std': 335.8570408452007, 'count': 3}}
Koramangala {'bhk': {'mean': 12567.348894001134, 'std': 1286.9271971129865, 'count': 5}}
Kothannur {'bhk': {'mean': 3738.798485722216, 'std': 263.03140319128806, 'count': 6}}
Kothanur {'bhk': {'mean': 5729.166666666667, 'std': 0.0, 'count': 1}}
Kudlu {'bhk': {'mean': 5428.571428571428, 'std': 0.0, 'count': 1}}
Kudlu Gate {'bhk': {'mean': 5324.675324675325, 'std': 0.0, 'count': 1}}
Kumaraswami Layout {'bhk': {'mean': 4857.750896057347, 'std': 247.93337659741678, 'count': 3}}
Kundalahalli {'bhk': {'mean': 8365.231318918251, 'std': 1028.8263996833173, 'count': 3}}
LB Shastri Nagar {'bhk': {'mean': 4888.392857142857, 'std': 825.8928571428573, 'count': 2}}
Laggere {'bhk': {'mean': 4464.285714285715, 'std': 0.0, 'count': 1}}
Lakshminarayana Pura {'bhk': {'mean': 6841.666666666666, 'std': 91.66666666666652, 'count': 2}}
Lingadheeranahalli {'bhk': {'mean': 6948.373789156925, 'std': 137.69782791285036, 'count': 3}}
Magadi Road {'bhk': {'mean': 3916.6666666666665, 'std': 0.0, 'count': 1}}
Mahadevpura {'bhk': {'mean': 4870.419072507448, 'std': 464.96928202282703, 'count': 9}}
Mahalakshmi Layout {'bhk': {'mean': 11682.539682539682, 'std': 1650.793650793651, 'count': 2}}
Mallasandra {'bhk': {'mean': 5557.259722141612, 'std': 756.1882822123313, 'count': 5}}
Malleshpalya {'bhk': {'mean': 4425.035578878555, 'std': 860.0436344837372, 'count': 4}}
Malleshwaram {'bhk': {'mean': 18333.333333333332, 'std': 0.0, 'count': 1}}
Marathahalli {'bhk': {'mean': 6160.540698577994, 'std': 807.182049168838, 'count': 20}}
Margondanahalli {'bhk': {'mean': 5057.999244463333, 'std': 256.1953829260381, 'count': 3}}
Marsur {'bhk': {'mean': 8055.555555555556, 'std': 0.0, 'count': 1}}
Mico Layout {'bhk': {'mean': 4200.0, 'std': 0.0, 'count': 1}}
Munnekollal {'bhk': {'mean': 4802.422395043424, 'std': 125.38772727852572, 'count': 6}}
Murugeshpalya {'bhk': {'mean': 4523.355531891741, 'std': 450.61538528825935, 'count': 7}}
Mysore Road {'bhk': {'mean': 5084.04096522042, 'std': 644.0777907893389, 'count': 13}}
NGR Layout {'bhk': {'mean': 4489.826297505917, 'std': 29.998439759192205, 'count': 8}}
NRI Layout {'bhk': {'mean': 5200.0, 'std': 0.0, 'count': 1}}
Nagarbhavi {'bhk': {'mean': 7200.0, 'std': 0.0, 'count': 1}}
Nagasandra {'bhk': {'mean': 6235.119047619048, 'std': 193.45238095238074, 'count': 2}}
Nagavara {'bhk': {'mean': 5265.610902466384, 'std': 257.5980819535639, 'count': 2}}
Nagavarapalya {'bhk': {'mean': 6153.846153846154, 'std': 0.0, 'count': 1}}
Narayanapura {'bhk': {'mean': 5624.607559361702, 'std': 176.28469731669043, 'count': 4}}
Neeladri Nagar {'bhk': {'mean': 4000.0, 'std': 0.0, 'count': 1}}
Nehru Nagar {'bhk': {'mean': 4994.3116788028365, 'std': 83.97863012649077, 'count': 2}}
OMBR Layout {'bhk': {'mean': 8088.235294117647, 'std': 0.0, 'count': 1}}
Old Airport Road {'bhk': {'mean': 7400.652269436282, 'std': 366.65275351747255, 'count': 19}}
Old Madras Road {'bhk': {'mean': 6125.232403718459, 'std': 408.1009296148736, 'count': 2}}
Padmanabhanagar {'bhk': {'mean': 6176.470588235294, 'std': 0.0, 'count': 1}}
Pai Layout {'bhk': {'mean': 4605.263157894737, 'std': 0.0, 'count': 1}}
Panathur {'bhk': {'mean': 5824.381873424201, 'std': 756.1120640080887, 'count': 5}}
Parappana Agrahara {'bhk': {'mean': 3894.570971024669, 'std': 52.57420919375578, 'count': 14}}
Pattandur Agrahara {'bhk': {'mean': 5161.290322580645, 'std': 0.0, 'count': 2}}
Poorna Pragna Layout {'bhk': {'mean': 4049.309690274269, 'std': 111.94750610317409, 'count': 12}}
Prithvi Layout {'bhk': {'mean': 7988.165680473373, 'std': 0.0, 'count': 1}}
R.T. Nagar {'bhk': {'mean': 4583.333333333333, 'std': 0.0, 'count': 1}}
Rachenahalli {'bhk': {'mean': 6015.859994531036, 'std': 0.0, 'count': 1}}
Raja Rajeshwari Nagar {'bhk': {'mean': 6666.666666666667, 'std': 0.0, 'count': 1}}
Rajaji Nagar {'bhk': {'mean': 18000.0, 'std': 0.0, 'count': 1}}
Rajiv Nagar {'bhk': {'mean': 6315.890833058215, 'std': 707.5762737250174, 'count': 6}}
Ramagondanahalli {'bhk': {'mean': 6714.753447126966, 'std': 1179.0391614126816, 'count': 2}}
Ramamurthy Nagar {'bhk': {'mean': 4285.714285714285, 'std': 0.0, 'count': 1}}
Rayasandra {'bhk': {'mean': 4027.777777777778, 'std': 0.0, 'count': 1}}
Sahakara Nagar {'bhk': {'mean': 7445.229681978799, 'std': 554.7703180212015, 'count': 2}}
Sanjay nagar {'bhk': {'mean': 7575.757575757576, 'std': 0.0, 'count': 1}}
Sarakki Nagar {'bhk': {'mean': 11118.213921641485, 'std': 58.695321233468675, 'count': 3}}
Sarjapur {'bhk': {'mean': 4798.6758762009795, 'std': 982.6102032032919, 'count': 11}}
Sarjapur  Road {'bhk': {'mean': 5797.897681160006, 'std': 1209.3915232816719, 'count': 4}}
Sarjapura - Attibele Road {'bhk': {'mean': 3677.009046693256, 'std': 568.4897414332066, 'count': 7}}
Sector 2 HSR Layout {'bhk': {'mean': 5840.870632537299, 'std': 558.3617721495737, 'count': 3}}
Sector 7 HSR Layout {'bhk': {'mean': 9166.666666666666, 'std': 0.0, 'count': 1}}
Seegehalli {'bhk': {'mean': 5000.0, 'std': 0.0, 'count': 2}}
Shampura {'bhk': {'mean': 5660.377358490566, 'std': 0.0, 'count': 1}}
Shivaji Nagar {'bhk': {'mean': 6164.3835616438355, 'std': 0.0, 'count': 1}}
Singasandra {'bhk': {'mean': 4451.853329012638, 'std': 613.081735922427, 'count': 2}}
Somasundara Palya {'bhk': {'mean': 5833.333333333333, 'std': 0.0, 'count': 1}}
Sompura {'bhk': {'mean': 3953.4883720930234, 'std': 0.0, 'count': 1}}
Sonnenahalli {'bhk': {'mean': 4706.376756380032, 'std': 441.79167132471156, 'count': 5}}
Subramanyapura {'bhk': {'mean': 5419.591639044803, 'std': 543.0872192059437, 'count': 13}}
Sultan Palaya {'bhk': {'mean': 6500.0, 'std': 0.0, 'count': 1}}
TC Palaya {'bhk': {'mean': 6291.666666666667, 'std': 0.0, 'count': 1}}
Talaghattapura {'bhk': {'mean': 6525.3392336488205, 'std': 694.1463657221601, 'count': 22}}
Thanisandra {'bhk': {'mean': 4571.428571428572, 'std': 0.0, 'count': 1}}
Thigalarapalya {'bhk': {'mean': 7478.280524334292, 'std': 267.3908548713968, 'count': 11}}
Thubarahalli {'bhk': {'mean': 6289.473684210527, 'std': 0.0, 'count': 1}}
Thyagaraja Nagar {'bhk': {'mean': 7250.0, 'std': 0.0, 'count': 1}}
Tindlu {'bhk': {'mean': 5333.333333333333, 'std': 0.0, 'count': 1}}
Tumkur Road {'bhk': {'mean': 6367.716187279277, 'std': 390.8691579620035, 'count': 14}}
Ulsoor {'bhk': {'mean': 6800.0, 'std': 0.0, 'count': 1}}
Uttarahalli {'bhk': {'mean': 3333.3333333333335, 'std': 0.0, 'count': 1}}
Varthur {'bhk': {'mean': 4836.478103600665, 'std': 892.2656889001146, 'count': 14}}
Varthur Road {'bhk': {'mean': 3800.411985861906, 'std': 850.7508048357686, 'count': 2}}
Vasanthapura {'bhk': {'mean': 3558.48776757308, 'std': 145.0953916099316, 'count': 7}}
Vidyaranyapura {'bhk': {'mean': 6562.5, 'std': 937.5, 'count': 2}}
Vijayanagar {'bhk': {'mean': 5208.333333333333, 'std': 0.0, 'count': 1}}
Vishveshwarya Layout {'bhk': {'mean': 4380.952380952381, 'std': 0.0, 'count': 1}}
Vishwapriya Layout {'bhk': {'mean': 3916.9969520750556, 'std': 177.84130871379733, 'count': 4}}
Vittasandra {'bhk': {'mean': 5113.14174326139, 'std': 100.56430016629145, 'count': 7}}
Whitefield {'bhk': {'mean': 7836.874286815605, 'std': 794.7110211453303, 'count': 4}}
Yelachenahalli {'bhk': {'mean': 5909.760492768157, 'std': 1348.1242403302067, 'count': 5}}
Yelahanka {'bhk': {'mean': 5555.555555555556, 'std': 0.0, 'count': 1}}
Yelahanka New Town {'bhk': {'mean': 5202.863961813842, 'std': 0.0, 'count': 1}}
Yelenahalli {'bhk': {'mean': 3918.9457070707067, 'std': 143.76151982471873, 'count': 3}}
Yeshwanthpur {'bhk': {'mean': 7400.0, 'std': 0.0, 'count': 1}}
other {'bhk': {'mean': 5500.0, 'std': 0.0, 'count': 1}}

In [33]:
data.shape

(10301, 7)

In [34]:
data

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.00,4,15017.543860
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.00,3,11901.840491
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.00,3,12533.333333
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.00,3,10833.333333
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.00,2,11983.805668
...,...,...,...,...,...,...,...
10296,other,2 BHK,1353.0,2.0,110.00,2,8130.081301
10297,other,1 Bedroom,812.0,1.0,26.00,1,3201.970443
10298,other,3 BHK,1440.0,2.0,63.93,3,4439.583333
10299,other,2 BHK,1075.0,2.0,48.00,2,4465.116279
10300,other,4 BHK,3600.0,5.0,400.00,4,11111.111111

In [35]:
data.drop(columns=['size','price_per_sqft'],inplace= True)

In [36]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [37]:
data.to_csv("Cleaned_data.csv")

In [38]:
X = data.drop(columns=['price'])
y = data['price']

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [40]:
X_train,X_test,Y_train,Y_test= train_test_split(X,y,test_size=0.2,random_state=0)

In [41]:
print(X_train.shape)
print(Y_train.shape)

(8240, 4)
(8240,)

In [42]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder='passthrough')

In [43]:
scaler = StandardScaler()

In [44]:
lr = LinearRegression()

In [45]:
pipe = make_pipeline(column_trans,scaler,lr)
pipe.fit(X_train,Y_train)

c:\Users\ADMIN\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [46]:
y_pred_lr = pipe.predict(X_test)

In [47]:
r2_score(Y_test,y_pred_lr)

0.8284787097643095

In [48]:
lasso = Lasso()

In [49]:
pipe = make_pipeline(column_trans,scaler,lasso)

In [50]:
pipe.fit(X_train,Y_train)

c:\Users\ADMIN\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [51]:
y_pred_lasso=pipe.predict(X_test)
r2_score(Y_test,y_pred_lasso)

0.821316543187225

In [52]:
ridge = Ridge()
pipe = make_pipeline(column_trans,scaler,ridge)
pipe.fit(X_train,Y_train)

c:\Users\ADMIN\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [53]:
y_pred_ridge = pipe.predict(X_test)
r2_score(Y_test,y_pred_ridge)

0.8284595107915464

In [54]:
print("No Regularization: ",r2_score(Y_test,y_pred_lr))
print("Lasso: ",r2_score(Y_test,y_pred_lasso))
print("Ridge: ",r2_score(Y_test,y_pred_ridge))

No Regularization:  0.8284787097643095
Lasso:  0.821316543187225
Ridge:  0.8284595107915464

In [55]:
import pickle

In [56]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))